# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Keep a Local Copy of Datasets
/datasets
/data

# Jupyter Notebook
.ipynb_checkpoints/ 


# Python Distribution/ Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Environment Files
# .env

# Other
notebooks/hyperparameter_sweep/results/*
final_experiments/aug2025_jam_more_complex_synthetic_sweeps/data/* 
final_experiments/aug2025_jam_more_complex_synthetic_sweeps/shell_scripts/* 
final_experiments/aug2025_jam_more_complex_synthetic_sweeps/results/* 
final_experiments/sep2025_more_complex_synthetic_sweeps/data/* 
final_experiments/sep2025_more_complex_synthetic_sweeps/shell_scripts/* 
final_experiments/sep2025_more_complex_synthetic_sweeps/results/* 
final_experiments/sep2025_mnist_experiments/* 




